[color]
  ui = auto
[alias]
  br = branch
  ci = commit
  co = checkout
  last = log -1 HEAD
  lg = !"git lg1"
  lg1 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
  lg2 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(bold white)— %an%C(reset)' --abbrev-commit
  s = status --short --branch
  st = status
  unstage = reset HEAD --
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
[core]
  editor = vim
  safecrlf = true
[push]
  default = matching
[rerere]
  enabled = 1
  autoupdate = 1
[filter "media"]
  required = true
	clean = git media clean %f
	smudge = git media smudge %f
[user]
  name = Kou Shinrin
  email = huang-chenlin@kayac.com
[branch "master"]
  remote = origin
  merge = refs/heads/master
